<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Suite" parallel="false">
    <!-- create booking -->
    <test name="Create Booking Test">
        <classes>
            <class name="scenario.createBooking.PositiveCase"/>
        </classes>
    </test>

    <!-- get booking with dynamic id -->
    <test name="Get Booking Test">
        <classes>
            <class name="scenario.getBooking.PositiveCase"/>
            <class name="scenario.getBooking.NegativeCase"/>
        </classes>
    </test>

    <!-- update booking -->
    <test name="Update Booking Test">
        <classes>
            <class name="scenario.UpdateBooking.PositiveCase"/>
            <class name="scenario.UpdateBooking.NegativeCase"/>
        </classes>
    </test>

    <!-- delete booking -->
    <test name="Delete Booking Test">
        <classes>
            <class name="scenario.deleteBooking.PositiveCase"/>
            <class name="scenario.deleteBooking.NegativeCase"/>
        </classes>
    </test>
</suite>