<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">

    <!-- positive test -->
    <!-- auth test -->
    <test name="Auth">
        <classes>
            <class name="auth.AuthenticationTest"/>
            <class name="auth.NegativeAuthTest"/>
        </classes>
    </test>

    <!-- booking test -->
    <test name="Booking">
        <classes>
            <class name="booking.CreateBooking"/>
            <!-- <class name="booking.UpdateBooking"/>
            <class name="booking.DeleteBooking"/> -->
            <class name="booking.GetBooking"/>
        </classes>
    </test>

    <!-- negative test -->
    <!-- <test name="NegativeBooking">
        <classes>
            <class name="booking.NegativeCreateBooking"/>
            <class name="booking.NegativeUpdateBooking"/>
            <class name="booking.NegativeDeleteBooking"/>
            <class name="booking.NegativeGetBooking"/>
        </classes>
    </test> -->
</suite>